body {
    margin: 0;
}

nav {
    background-color: #333;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

.a_current_page {
    background-color: #fff;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.p1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

form label {
    margin-bottom: 5px;
}

form input {
    margin-bottom: 10px;
    width: 50%;
    height: 30px;
}

form button[type=submit] {
    height: 30px;
    width: 100px;
}
