{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список сотрудников</title>
    <link rel="icon"
          href="https://cdn-icons-png.flaticon.com/512/3602/3602109.png">
    <link rel="stylesheet" type="text/css"
          href="{% static 'core/css/styles.css' %}">
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a class="a_current_page"
                       href="{% url 'employees' %}">Сотрудники</a></li>
                <li><a href="{% url 'employee_of_the_month' %}">Сотрудник
                    месяца</a></li>
                <li><a href="{% url 'add_employee' %}">Добавить
                    сотрудника</a></li>
            </ul>
        </nav>
    </div>
    <p class="p1">Список сотрудников</p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Моб. телефон</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Иванова Анна Петровна</td>
                    <td>Менеджер по продажам</td>
                    <td>+7 (999) 123-45-67</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Петров Игорь Владимирович</td>
                    <td>Инженер-конструктор</td>
                    <td>+7 (999) 234-56-78</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Сидорова Елена Александровна</td>
                    <td>Финансовый аналитик</td>
                    <td>+7 (999) 345-67-89</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Кузнецов Дмитрий Андреевич</td>
                    <td>Программист</td>
                    <td>+7 (999) 456-78-90</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Николаева Ольга Сергеевна</td>
                    <td>Дизайнер</td>
                    <td>+7 (999) 567-89-01</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
