{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сотрудник месяца</title>
    <link rel="icon"
          href="https://cdn-icons-png.flaticon.com/512/747/747376.png">
    <link rel="stylesheet" type="text/css"
          href="{% static 'core/css/styles.css' %}">

</head>
<body>
    <div class="nav_div">
        <nav>
            <ul>
                <li><a href="{% url 'employees' %}">Сотрудники</a></li>
                <li><a class="a_current_page"
                       href="{% url 'employee_of_the_month' %}">Сотрудник месяца</a></li>
                <li><a href="{% url 'add_employee' %}">Добавить сотрудника</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <table>
            <tbody>
            <tr>
                <td style="font-weight: bold">ФИО</td>
                <td>Иванова Анна Петровна</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Должность</td>
                <td>Менеджер по продажам</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Домашний адрес</td>
                <td>ул. Цветочная, дом 10, квартира 5, г. Москва, Россия, 123456</td>
            </tr>
            <tr>
                <td style="font-weight: bold">Телефон</td>
                <td>+7 (999) 123-45-67</td>
            </tr>
            <tr>
                <td style="font-weight: bold">E-mail</td>
                <td>anna.ivanova@mail.ru</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>