{% extends 'core/base.html' %}
{% block content %}
    <h1>Список спектаклей</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Обновление</th>
                <th scope="col">Название</th>
                <th scope="col">Дата премьеры</th>
                <th scope="col">Удаление</th>
            </tr>
        </thead>
        <tbody>
            {% for play in plays %}
                <tr>
                    <td>
                        <a href="{% url 'core:play_update' play.pk %}">
                            Обновить
                        </a>
                    </td>
                    <td>{{ play.title }}</td>
                    <td>{{ play.premiere_date }}</td>
                    <td>
                        <a href="{% url 'core:play_delete' play.pk %}">
                            Удалить
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}